@import "tailwindcss";

@font-face {
  font-family: 'kugile';
  src: url('/fonts/kugile/Kugile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #f3f1eb;
    color : #00194a;
    font-family : "kugile";
    box-sizing: border-box;
}

#hero,.cursor{
  cursor: none;
}

.bg-gold {
  background-color: #00194a;
}

.text-black {
  color: black;
}

.bg-black-alpha {
  background-color: #0006;
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.bg-transparent {
  background-color: transparent;
}
